body {
    font-family: 'SF UI Text', sans-serif;
    padding-bottom: 200px;
}

.portfolio-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 3em;
    margin: 20px 0;
    padding-top: 100px;
    padding-bottom: 200px;
}

.portfolio-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.sub-title {
    font-size: 2em;
    margin: 30px 0 10px;
    margin-bottom: 50px;
}

.portfolio-video {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}


.link-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-around; /* or space-between or center depending on how you want to space them */
}

.portfolio-link {
    font-size: 2em;
    color: #000;
    text-decoration: none;
}

.portfolio-link:hover {
    text-decoration: underline; /* add underline when the mouse hovers over the link */
}

/* Your existing styles go here */

/* This will apply when the screen width is 800px or less */
@media screen and (max-width: 800px) {
    .title {
        font-size: 2em;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .sub-title, .portfolio-link {
        font-size: 1.5em;
    }
}

/* This will apply when the screen width is 500px or less */
@media screen and (max-width: 500px) {
    .title {
        font-size: 1.5em;
        padding-top: 50px;
        padding-bottom: 80px;
    }

    .sub-title, .portfolio-link {
        font-size: 1em;
    }
    body {
        background-color: #fff;
    }
}
